#TITULO1{
	border-radius: 5px;
	color: black;
	background-color: rgb(221, 132, 54);
    font-family: monotype corsiva;

}



#fondo{
	background-color: rgb(246, 234, 190);
}

	img{
border: 5px solid #c46210;
background-color: lightcoral
}

.imagen1 {
	background-color: lightcoral
}

